body {
  background-color: hsl(30, 38%, 92%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-content {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 450px;
  border-radius: 10px;
}

.card {
  padding: 30px;
}

.card__header {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%);
  margin: 0 0 20px 0;
}

.card__title {
  font-family: Fraunces;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 24px;
}

.card__description {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 29px;
}

.card__price {
  font-family: "Fraunces", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #3d8168;
  margin-bottom: 30px;
}

.card__price--old {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  text-decoration: line-through;
  color: #6c7289;
}

.card__button {
  width: 236px;
  height: 48px;
  background-color: #3d8168;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.card__button:hover {
  background-color: #1a4032;
}

.card__button-icon {
  margin-right: 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 376px) {
  .container {
    width: 375px;
    height: 667px;
  }

  .card-content {
    flex-direction: column;
    border-radius: 10px;
  }

  .card__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    background-image: url(/images/image-product-mobile.jpg);
  }

  .card-content {
    width: 343px;
    height: 611px;
  }

  .card__price {
    margin-bottom: 20px;
  }

  .card__button {
    width: 295px;
    height: 48px;
  }
}
